---
title: "Display Exercises";
description: "Displays a single exercise with an image, instructions and muscle groups.";

import BaseLayout from "../layouts/BaseLayout.astro";
import BackToTop from "../components/BackToTop.astro";
import DisplayExercises from "../components/DisplayExercise.svelte";
---

<BaseLayout>
  <div slot="main" class="container mt-5">
    <!-- Svelte component to show exercise details, loaded on client -->
    <DisplayExercises client:load />
    <!-- Back to top button for easy navigation -->
    <BackToTop />
  </div>
</BaseLayout>