---
title: "Favourites";
description: "Displays a list of favourited exercises.";

import BaseLayout from "../layouts/BaseLayout.astro";
import FavouritesList from "../components/FavouritesList.svelte";
import BackToTop from "../components/BackToTop.astro";
---

<BaseLayout>
  <div slot="main">
    <!-- Svelte component to show the list of favourites, only loaded on client -->
    <FavouritesList client:only="svelte" />
    <!-- Back to top button for easy navigation -->
    <BackToTop />
  </div>
</BaseLayout>
