---
title: "Header"
---

<header style="background-color: #F8E4B8;">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a class="navbar-brand ms-2" href="/">
        Pastry Chasers <img 
            src="/images/running-croissant.png"
            alt="pastry icon"
            class="detail-icon" 
            />
        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/browse">Training runs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/searchResults">Search for runs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/favourites">My Favourites</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Pastry Chasers</a>
                </li>
            </ul>
             <form class="d-flex ms-auto" id="searchForm">
                <input
                    class="form-control me-2"
                    type="search"
                    placeholder="Search..."
                    aria-label="Search"
                    id="searchQuery"
                />
            <button class="btn btn-primary me-2" type="submit">Search</button>
        </form>
        </div>
    </nav>
</header>